.view {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--base-color);
  z-index: 2;
}

.viewHeader {
  height: 50px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.jsonview {
  height: calc(100vh - 50px);
  overflow: scroll;
  position: fixed;
  z-index: 3;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: rgb(9, 3, 0);
}

.jsonfiles {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.jsonfilesitem{
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}