.wolLayout {
  padding: 20px;
  overflow: scroll;
  height: calc(100vh - var(--Header-Navigate));
  margin-top: var(--Header-Navigate);
}

.items {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--success-color);
}

.wolapp-huifu {
  color: red;
}

.wola {
  padding: 0 10px;
}

.gnbuts {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.gnbuts button {
  flex: 1;
}
