.wolLayout {
  padding: 20px;
  overflow: scroll;
  height: 100vh;
}

.items {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--success-color);
}

.wolapp-huifu{
  color: red;
}

.wola{
  position: fixed;
  left: 0;
  bottom: 3vh;
  padding: 0 10px;
}