.tabBar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--table-color);
    width: 100vw;
    border-top: 1px solid var(--hover-color);
    color: var(--text-color-2);
}

.tabBar-item {
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
}

.tabBar-item .cuIcon-global{
    font-size: 32px;
}

.tabBar-item span{
    font-size: 16px;
}

.tabBar-item-active{
    color: var(--primary-color);
}