.footer-position {
  display: none;
}

@media screen and (max-width: 980px) {
  .footer-position {
    display: block;
    height: var(--Footer-height);
  }

  @supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
    .footer-position {
      margin-bottom: constant(safe-area-inset-bottom);
      margin-bottom: env(safe-area-inset-bottom);
      height: calc(var(--Footer-height) + 40px);
    }
  }
}

.textdisabled {
  color: var(--text-color-disabled);
}

.dropdown-pullup {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: var(--overflow);
}

/* 隐藏滚动条 */
.scroll-hihe::-webkit-scrollbar {
  display: none;
}
/* 为了确保内容仍然可以滚动 */
.scroll-hihe {
  -ms-overflow-style: none; /* IE和Edge */
  scrollbar-width: none; /* Firefox */
}
/* 可选：如果你想要为其他浏览器（非Webkit）也隐藏滚动条 */
.scroll-hihe {
  overflow: -moz-scrollbars-none; /* Firefox */
}

.loaderBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--Header-height);
  z-index: 10;
  transform: translateY(var(--zai-translateY));
}

.dropdown-pullup-opacity {
  opacity: 0;
}

.dropdown-pullup-opacity-1 {
  opacity: 1;
  transition: opacity 0.2s linear;
  transition-delay: 0.2s;
}

.dropdown-icon {
  font-size: 24px;
  color: var(--text-color-disabled);
}

.dropdown-icon-rotate180 {
  animation: rotate180 0.5s ease forwards;
}

.loader {
  width: 25px;
  height: 25px;
  border: 3px solid var(--border-color);
  border-radius: 50%;
  border-bottom: 3px solid var(--success-color);
  animation: loadingskKeyframes 1s linear infinite;
}

.content {
  transform: translateY(var(--zai-translateY));
  /* height: 100%; */
  width: 100%;
}

.loaderBottomBox {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-disabled);
}

@keyframes loadingskKeyframes {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
