/****************************  flex  *******************************/
.flex {
  display: flex;
}

.flex-ai-c {
  display: flex;
  align-items: center;
}

.flex-fdc-aic-juc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-jusp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/****************************  flex  *******************************/
.singe-line {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}
/****************************   *******************************/
.ml-10 {
  margin-left: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
/********************/
.el-transition {
  transition: all 0.2s linear;
}

.el-transition-color {
  transition: color 0.3s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
