@import './global.css';
@import './connon.css';

/*解决在安卓上的点击出现篮框问题*/
* {
  -webkit-tap-highlight-color: transparent;
}

.zaiView {
  min-height: calc(100vh - (64px + 19px + 24px * 2));
}

.zaiheader {
  height: 64px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 10px;
  color: var(--text-color-1);
  background: var(--body-back-color);
  justify-content: space-between;
}
