@import './global.css';
@import './connon.css';

/*解决在安卓上的点击出现篮框问题*/
* {
  -webkit-tap-highlight-color: transparent;
}

/* 整个滚动条 */
.zaiView::-webkit-scrollbar {
  width: var(--scrollbar-width); /* 滚动条的宽度 */
  height: var(--scrollbar-height); /* 滚动条的高度，对水平滚动条有效 */
  background-color: transparent; /* 滚动条的背景颜色 */
}

.zaiheader {
  height: 64px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 10px 0px 4vw;
  color: var(--text-color-1);
  /* background: var(--body-back-color); */
  backdrop-filter: blur(18px);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  box-shadow: 0 0px 12px rgb(0 0 0 / 18%);
}

.header-current {
  position: relative;
  flex: 1;
  height: 100%;
  align-items: center;
}

.header-rigth {
  margin-right: 30px;
}

.zaiView {
  width: 100%;
  /* height: calc(100vh - (10px + 64px)); */
  height: 100vh;
  overflow: scroll;
}

/* 滚动条轨道 */
.zaiView::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent; /* 轨道的背景颜色 */
}

/* 滚动条滑块 */
.zaiView::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-border-radius);
  background-color: var(--scrollbar-color); /* 滑块的背景颜色 */
  /* border: 3px solid #e1e1e1; */ /* 滑块的边框和轨道相同的颜色，可以制造“边距”的效果 */
}

/* 滚动条滑块：悬停效果 */
.zaiView::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover); /* 滑块的悬停颜色 */
}

/* 滚动条滑块：激活时的效果 */
.zaiView ::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-color-hover); /* 滑块的激活颜色 */
}

/* 滚动条按钮（上下箭头） */
.zaiView::-webkit-scrollbar-button {
  display: none; /* 通常情况下不显示滚动条按钮 */
}

.zaifooter {
  display: none;
}

.pc-zaifooter {
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  bottom: 0;
  left: 10px;
  height: 64px;
  line-height: 64px;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-icon {
  margin-inline-end: 0px;
  margin-top: 3px;
  margin-right: 2px;
}

@media screen and (max-width: 980px) {
  .zaiView {
    overflow-y: scroll;
    width: 100%;
    /* height: calc(100vh - (19px + 24px * 2)); */
    height: 100vh;
    min-height: calc(100vh - (19px + 24px * 2));
  }

  .pc-zaifooter {
    display: none;
  }

  .zaifooter {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px -5px 10px -5px rgb(0 0 0 / 18%); */
    height: 67px;
    backdrop-filter: blur(13px);
    /* background: var(--body-back-color); */
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
  }

  .zaifooter::after {
    content: ' ';
    width: 100vw;
    position: fixed;
    height: 1px;
    background: rgb(0 0 0 / 5%);
    /* box-shadow: 0px -5px 10px -5px rgb(0 0 0 / 18%); */
    left: 0;
    bottom: 67px;
    z-index: 1;
  }

  .header-rigth {
    margin-right: 0;
  }

  .zf-item {
    flex: 1;
    /* background: var(--body-color); */
  }
}
