@import './global.css';
@import './connon.css';

/*解决在安卓上的点击出现篮框问题*/
* {
  -webkit-tap-highlight-color: transparent;
}

.zaiheader {
  height: 64px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 10px;
  color: var(--text-color-1);
  background: var(--body-back-color);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  box-shadow: 0 0px 12px rgb(0 0 0 / 18%);
}

.header-current {
  position: relative;
  flex: 1;
  height: 100%;
  align-items: center;
}

.header-rigth {
  margin-right: 30px;
}

.zaiView {
  width: 100%;
  /* height: calc(100vh - (10px + 64px)); */
  min-height: 100vh;
}

@media screen and (max-width: 980px) {
  .zaiView {
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - (19px + 24px * 2));
    min-height: calc(100vh - (19px + 24px * 2));
  }

  .zaifooter {
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0px 12px rgb(0 0 0 / 18%);
    height: 67px;
    background: var(--body-back-color);
    z-index: 9;
  }

  .header-rigth {
    margin-right: 0;
  }

  .zf-item {
    flex: 1;
    background: var(--body-color);
  }
}
