.card {
    /*width: calc(100vw - 30px);*/
    background-color: var(--card-color);
    border-radius: 5px;
    margin: 0 20px;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid var(--hover-color);
    box-shadow: var(--box-shadow-4);
}