.skeletondiv {
  flex-direction: column;
}

.view {
  padding: 0 10px;
}

.cardtitle {
  margin-left: 5px;
  width: 80%;
}

.cardtab {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.carppeizhu {
  background-color: var(--tag-color);
  margin-top: 10px;
  border-radius: 3px;
  padding: 5px;
  color: var(--text-color-3);
}

.cardbut {
  margin-bottom: 5px;
  /* margin-right: 15px; */
}

:global(.ant-tag) {
  margin-bottom: 5px;
}

:global(.ant-card .ant-card-body) {
  padding: 15px 10px;
}

:global(.ant-card .ant-card-head) {
  padding: 0 10px;
}
