.indexview {
  padding: 0 10px;
}

.itemview {
  background-color: var(--card-color);
  padding: 7px 10px;
  border-radius: 7px;
}

.novelCardPeizhu {
  background-color: var(--tag-color);
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 12px;
  color: var(--text-color-2);
}
