.fixed-button-view {
    position: fixed;
    right: 5vw;
    bottom: 15vh;
}

.fb-i {
    padding: 5px;
    border-radius: 50%;
    background-color: var(--popover-color);
    color: var(--text-color-2);
    font-size: 26px;
    box-shadow: var(--box-shadow-4);
}

.global-theme {
    color: var(--primary-color);
}