.view {
  padding: 0 10px;
  width: calc(100vw - 20px);
}

.circleCard {
  width: 400px;
}

.RadioButtonIcontag {
  margin-top: 3px;
}

.RadioButtonIconmedal {
  margin-top: 6px;
}

@media screen and (max-width: 980px) {
  .view {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
  }
}
