.HeaderNavigate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--Header-Navigate);
  background-color: var(--base-color);
  border-bottom: 1px solid var(--input-color);
  z-index: 999;
}
